.aboutMain {
    text-align: center;
    color: var(--text);
    padding: 2rem;
    margin: 0 auto; /* center horizontally */
}

.aboutMain h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.aboutMain h4 {
    font-size: 1rem;
    line-height: 1.6;
}


@media (max-width: 600px) {
    .aboutMain h2 {
        font-size: 1.5rem;
    }

    .aboutMain h4 {
        font-size: 0.95rem;
    }

    .aboutMain {
        padding: 1.5rem 1rem;
    }
}
