.headerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1a1a1a;
    color: #fff;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

@media (max-width: 640px) {
    .headerBar {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        width: 100%;
    }
}

.headerText {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    margin-left: 1rem;
}

@media (max-width: 640px) {
    .headerText {
        margin-bottom: 1rem;
        flex-direction: column;
        margin-left: 0;
        gap: 0;
        width: 100%;
        text-align: center;
    }
}

.headerName {
    font-size: 2rem;
    color: #fed128;
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16;
}

@media (max-width: 640px) {
    .headerName {
        font-size: 3rem;
    }
}

.headerTitle {
    font-size: 1.8rem;
    color: #28d7fe;
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff;
}

@media (max-width: 640px) {
    .headerTitle {
        font-size: 2.5rem;
    }
}

.headerLinks {
    display: flex;
    gap: 1rem;
    margin-right: 4rem;
    box-sizing: border-box;
}

@media (max-width: 640px) {
    .headerLinks {
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-right: 0;
        width: 100%;
        justify-content: center;
    }
}

.headerLinks a {
    text-decoration: none;
    color: #fff;
    padding: 0.4rem 0.8rem;
    background-color: var(--btn);
    border-radius: 5px;
    border: 2px solid #f0f6fa;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
}

@media (max-width: 640px) {
    .headerLinks a {
        font-size: 1.2rem;
        flex: 1 1 auto;
        min-width: 100px;
        box-sizing: border-box;
    }
}

.headerLinks a svg {
    margin-right: 0.5rem;
}

.headerLinks a:hover {
    box-shadow: 0 0 1vw 0.2vw var(--btn);
}
