.projectsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
    max-height: 100%;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .projectsContainer {
        grid-template-columns: 1fr 1fr;
    }
}

.projectCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.projectImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectImage {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
}

.techStackDesktop {
    display: none;
}

@media (min-width: 640px) {
    .techStackDesktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
}

.techStackMobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

@media (min-width: 640px) {
    .techStackMobile {
        display: none;
    }
}

.techTag {
    background-color: #d1d5db;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.75rem;
}

.projectContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.projectContent h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text);
}

.projectContent p {
    font-size: 0.9rem;
    color: var(--text);
}

.links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 0.5rem;
    color: var(--text);
}

@media (min-width: 640px) {
    .links {
        justify-content: flex-end;
    }
}
