.workMain {
    padding: clamp(1rem, 2vw, 2rem);
    max-width: min(90%, 900px);
    margin: 0 auto;
}

.workMain h3 {
    margin-bottom: clamp(1rem, 3vw, 2rem);
    color: var(--text);
    font-size: clamp(1.5rem, 3vw, 2rem);
}

.job {
    color: var(--text);
    padding: clamp(.5rem, 2vw, 1.5rem);
    border-radius: clamp(0.3rem, 1vw, 0.5rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.job h4 {
    font-size: clamp(1rem, 2.3vw, 1.25rem);
    margin-bottom: clamp(0.2rem, 1vw, 0.3rem);
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.company {
    font-weight: 500;
    margin-bottom: clamp(0.5rem, 1.5vw, 0.8rem);
}

.job ul {
    line-height: clamp(1.3, 2vw, 1.55);
    list-style-type: none;
}

.job li {
    margin-bottom: clamp(0.2rem, 1vw, 0.4rem);
}
