.workMain {
    text-align: center;
    color: var(--text);
    padding: 2rem;
    margin: 0 auto;
}

.workMain h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.workMain h4 {
    font-size: 1rem;
    line-height: 1.6;
}


@media (max-width: 600px) {
    .workMain h3 {
        font-size: 2rem;
    }

    .workMain h4 {
        font-size: 1.5rem;
        text-align: left;
    }

    .workMain {
        padding: 1.5rem 1rem;
    }
}
