/* Ta bort skrollbaren */
::-webkit-scrollbar {
    display: none;
}

/* Font */
@font-face {
    font-family: MS Sans;
    src: url(/assets/MS\ Sans\ Serif\ 8pt.ttf);
}

/* Färger */
:root {
    --bg: hsl(37, 13%, 88%);
    --text: hsl(0, 0%, 0%);
}

/* Mörkt läge */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(330, 4%, 10%);
        --text: hsl(43, 23%, 94%);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg);
    font-family: MS Sans;
}
